/* Splash */

#splash {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    align-items: center;
    justify-content: center;
    
    background: rgba(0, 0, 0, 0.7);
    color: white;
    cursor: pointer;
    z-index: 999;
 }
 
 /* Request */

#request {
	position: fixed;
	top: 40%;
	left: 5%;
	width: 90%;
	padding: 20px 0;
	z-index: 1000;
}